body { background : #DEECEC; color : black; font-family : Verdana, Arial, sans-serif }
a:link { color : blue }
a:visited { color : navy }           
a:active { color : red }     
a:hover {color : red }    
a { text-decoration : none }
a.notice { color : red; font-weight : bold; font-size : 10pt; text-decoration : blink; }
a.notice:visited { color : red; font-weight : normal; font-size : 10pt; text-decoration : none; }
b { font-weight : bold }
h1 { font-size : 20pt; font-weight : bold }
h2 { font-size : 16pt; font-weight : bold }
h3 { font-size : 12pt; font-weight : bold }
p { font-size : 10pt; font-family : Verdana, Arial, sans-serif }
th { font-size : 10pt; font-weight : bold; font-family : Verdana, Arial, sans-serif }
td { font-size : 10pt; font-family : Verdana, Arial, sans-serif }
ul { font-size : 10pt }
ol { font-size : 10pt }
blockquote { font-size : 10pt }
address { font-size : 10pt; font-weight : italic; font-family : Verdana, Arial, sans-serif }
pre { font-size : 10pt }
